@import "tailwindcss";

.scrollbar-hide {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 1280px) {
    .new {
      width: 30%;
      top:60px
    }
  }
  
  
  

  
  
  
  